<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.app.springpowpow.domain.DefaultVO" alias="DefaultVO" />
        <typeAlias type="com.app.springpowpow.domain.MemberVO" alias="MemberVO" />
        <typeAlias type="com.app.springpowpow.domain.PostVO" alias="PostVO" />
        <typeAlias type="com.app.springpowpow.domain.PostFileVO" alias="PostFileVO" />
        <typeAlias type="com.app.springpowpow.domain.PostDTO" alias="PostDTO" />
        <typeAlias type="com.app.springpowpow.domain.AdjustmentDTO" alias="AdjustmentDTO"/>
        <typeAlias type="com.app.springpowpow.domain.AdjustmentVO" alias="AdjustmentVO" />
        <typeAlias type="com.app.springpowpow.domain.BannerVO" alias="BannerVO" />
        <typeAlias type="com.app.springpowpow.domain.BannerDTO" alias="BannerDTO" />
        <typeAlias type="com.app.springpowpow.domain.CartVO" alias="CartVO" />
        <typeAlias type="com.app.springpowpow.domain.CommentVO" alias="CommentVO" />
        <typeAlias type="com.app.springpowpow.domain.CommLikesVO" alias="CommLikesVO" />
        <typeAlias type="com.app.springpowpow.domain.CommLikesDTO" alias="CommLikesDTO" />
        <typeAlias type="com.app.springpowpow.domain.CouponVO" alias="CouponVO" />
        <typeAlias type="com.app.springpowpow.domain.CouponDTO" alias="CouponDTO" />
        <typeAlias type="com.app.springpowpow.domain.DeliveryVO" alias="DeliveryVO" />
        <typeAlias type="com.app.springpowpow.domain.FollowsVO" alias="FollowsVO" />
        <typeAlias type="com.app.springpowpow.domain.NoticeVO" alias="NoticeVO" />
        <typeAlias type="com.app.springpowpow.domain.NoticeDTO" alias="NoticeDTO" />
        <typeAlias type="com.app.springpowpow.domain.OrderCancelVO" alias="OrderCancelVO" />
        <typeAlias type="com.app.springpowpow.domain.OrderVO" alias="OrderVO" />
        <typeAlias type="com.app.springpowpow.domain.OrderDTO" alias="OrderDTO" />
        <typeAlias type="com.app.springpowpow.domain.PayVO" alias="PayVO" />
        <typeAlias type="com.app.springpowpow.domain.PetsonalVO" alias="PetsonalVO" />
        <typeAlias type="com.app.springpowpow.domain.PetsonalDTO" alias="PetsonalDTO" />
        <typeAlias type="com.app.springpowpow.domain.PetVO" alias="PetVO" />
        <typeAlias type="com.app.springpowpow.domain.PetDTO" alias="PetDTO" />
        <typeAlias type="com.app.springpowpow.domain.ProductLikesVO" alias="ProductLikesVO" />
        <typeAlias type="com.app.springpowpow.domain.ProductVO" alias="ProductVO" />
        <typeAlias type="com.app.springpowpow.domain.ProductDTO" alias="ProductDTO" />
        <typeAlias type="com.app.springpowpow.domain.ReviewDTO" alias="ReviewDTO" />
        <typeAlias type="com.app.springpowpow.domain.ReviewVO" alias="ReviewVO" />
<!--        <typeAlias type="com.app.springpowpow.domain.ProductLikesDTO" alias="ProductLikesDTO" />-->
    </typeAliases>
</configuration>