<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.springpowpow.mapper.CouponMapper">
    <insert id="insert" parameterType="CouponVO">
        INSERT INTO TBL_COUPON(ID, COUPON_TITLE, COUPON_CODE, COUPON_START, COUPON_END, COUPON_CONTENT, COUPON_QUANTITY, COUPON_DISCOUNT_RATE)
        VALUES ( SEQ_COUPON.NEXTVAL, #{couponTitle},  #{couponCode},TO_DATE(#{couponStart}, 'YYYY-MM-DD'), TO_DATE(#{couponEnd}, 'YYYY-MM-DD'), #{couponContent}, #{couponQuantity}, #{couponDiscountRate} )
    </insert>

    <select id="selectAll" resultType="CouponVO">
        SELECT ID, MEMBER_ID, PRODUCT_ID, COUPON_TITLE, COUPON_CODE, COUPON_START, COUPON_END, COUPON_CONTENT, COUPON_QUANTITY, COUPON_DISCOUNT_RATE
        FROM TBL_COUPON
    </select>

    <select id="select" parameterType="Long" resultType="CouponVO">
        SELECT ID, MEMBER_ID, PRODUCT_ID, COUPON_TITLE,  COUPON_CODE, COUPON_START, COUPON_END, COUPON_CONTENT, COUPON_QUANTITY, COUPON_DISCOUNT_RATE
        FROM TBL_COUPON
        WHERE ID = #{id}
    </select>

    <select id="selectById" parameterType="Long" resultType="CouponVO">
        SELECT ID, MEMBER_ID, PRODUCT_ID, COUPON_TITLE,  COUPON_CODE, COUPON_START, COUPON_END, COUPON_CONTENT, COUPON_QUANTITY, COUPON_DISCOUNT_RATE
        FROM TBL_COUPON
        WHERE MEMBER_ID = #{memberId}
    </select>

    <update id="update" parameterType="CouponVO">
        UPDATE TBL_COUPON
        SET MEMBER_ID = #{memberId}, PRODUCT_ID = #{productId}, COUPON_TITLE = #{couponTitle},  COUPON_CODE = #{couponCode}, COUPON_START = TO_DATE(#{couponStart}, 'YYYY-MM-DD'),
            COUPON_END = TO_DATE(#{couponEnd}, 'YYYY-MM-DD'), COUPON_CONTENT = #{couponContent}, COUPON_QUANTITY = #{couponQuantity},
            COUPON_DISCOUNT_RATE = #{couponDiscountRate}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_COUPON
        WHERE ID = #{id}
    </delete>

    <delete id="deleteById" parameterType="Long">
        DELETE FROM TBL_COUPON
        WHERE MEMBER_ID = #{memberId}
    </delete>

</mapper>