<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.springpowpow.mapper.DeliveryMapper">
    <!--    배송정보 추가-->
    <insert id="insert" parameterType="ProductDTO">
        INSERT INTO TBL_DELIVERY (ID, PRODUCT_ID, DELIVERY_FEE, DELIVERY_FEE_KIND, DELIVERY_FEE_FREE, DELIVERY_HOW, DELIVERY_PAY_WHEN, DELIVERY_COMPANY)
        VALUES (SEQ_DELIVERY.NEXTVAL, #{productId}, #{deliveryFee}, #{deliveryFeeKind}, #{deliveryFeeFree}, #{deliveryHow}, #{deliveryPayWhen}, #{deliveryCompany})
    </insert>

    <update id="update" parameterType="ProductDTO">
        UPDATE TBL_DELIVERY
        SET DELIVERY_FEE = #{deliveryFee}, DELIVERY_FEE_FREE = #{deliveryFeeFree}, DELIVERY_FEE_KIND = #{deliveryFeeKind}, DELIVERY_HOW = #{deliveryHow}, DELIVERY_PAY_WHEN = #{deliveryPayWhen}, DELIVERY_COMPANY = #{deliveryCompany}
    </update>

    <select id="selectAll" parameterType="DeliveryDTO">
        SELECT ID, PRODUCT_ID, MEMBER_ID, DELIVERY_ID, ORDER_NUMBER, ORDER_DATE, ORDER_ADDRESS, PRODUCT_COUNT, PRODUCT_PRICE, TOTAL_PRICE, DELIVERY_STATUS
        FROM VIEW_DELIVERY;
    </select>

    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_DELIVERY
        WHERE ID = #{id}
    </delete>

</mapper>