<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.springpowpow.mapper.OrderMapper">

    <insert id="insert" parameterType="OrderVO">
        INSERT INTO TBL_ORDER (ID, PRODUCT_ID, MEMBER_ID, DELIVERY_ID, ORDER_NUMBER,ORDER_DATE, ORDER_ADDRESS, PRODUCT_COUNT)
        VALUES (SEQ_ORDER.NEXTVAL, #{productId}, #{memberId}, #{deliveryId}, #{orderNumber}, #{orderDate}, #{orderAddress}, #{productCount})
    </insert>

    <select id="selectAll" resultType="OrderDTO">
        SELECT ID, PRODUCT_ID, MEMBER_ID, DELIVERY_ID, ORDER_NUMBER, ORDER_DATE, PRODUCT_PRICE, TOTAL_PRICE, DELIVERY_STATUS, PRODUCT_COUNT
        FROM VIEW_DELIVERY
    </select>

    <select id="select" resultType="OrderDTO" parameterType="Long">
        SELECT TBO.ID, TBO.PRODUCT_ID, TBO.MEMBER_ID, TBO.DELIVERY_ID, TBO.ORDER_NUMBER, TBO.ORDER_DATE, TBO.ORDER_ADDRESS, TBO.PRODUCT_COUNT, TBO.TOTAL_PRICE, TBO.DELIVERY_STATUS, TBP.PRODUCT_NAME, TBM.MEMBER_NAME, TBM.MEMBER_EMAIL
        FROM VIEW_ORDER TBO
        JOIN TBL_PRODUCT TBP ON TBO.PRODUCT_ID = TBP.ID
        JOIN TBL_MEMBER TBM ON TBO.MEMBER_ID = TBM.ID
        WHERE TBO.ID = #{id}
    </select>
    
    <select id="selectByMemberId" resultType="OrderVO" parameterType="Long">
        SELECT ID, PRODUCT_ID, MEMBER_ID, DELIVERY_ID, ORDER_NUMBER, ORDER_DATE, ORDER_ADDRESS, PRODUCT_COUNT
        FROM TBL_ORDER
        WHERE ID = #{memberId}
    </select>

    <update id="update" parameterType="OrderVO">
        UPDATE TBL_ORDER
        SET PRODCUT_ID = #{productId}, MEMBER_ID = #{memberId}, DELIVERY_ID = #{deliveryId}, ORDER_NUMBER = #{orderNumber}, ORDER_DATE = #{orderDate}, ORDER_ADDRESS = #{orderAddress}, PRODUCT_COUNT = #{productCount}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_ORDER
        WHERE ID = #{id}
    </delete>

    <select id="selectAllView" resultType="OrderDTO" parameterType="java.util.Date">
        SELECT
            TBO.ID AS ORDER_ID,
            SUM(TBP.PRODUCT_PRICE * TBO.PRODUCT_COUNT) AS TOTAL_PRICE,
            SUM(TBO.PRODUCT_COUNT) AS TOTAL_COUNT
        FROM
            TBL_ORDER TBO
                LEFT JOIN
            TBL_PRODUCT TBP
            ON
                TBP.ID = TBO.PRODUCT_ID
        WHERE
            TBO.ORDER_DATE = TO_DATE(#{orderDate}, 'YYYY-MM-DD')
        GROUP BY
            TBO.ID;
    </select>
</mapper>