<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.springpowpow.mapper.PostMapper">

    <insert id="insert" parameterType="PostVO">
        INSERT INTO TBL_POST (
            ID, MEMBER_ID, POST_CONTENT ,POST_IMAGE1, POST_IMAGE2, POST_IMAGE3, POST_IMAGE4, POST_IMAGE5, POST_COLOR)
        VALUES (SEQ_POST.NEXTVAL, #{memberId}, #{postContent}, #{postImage1}, #{postImage2}, #{postImage3}, #{postImage4}, #{postImage5}, #{postColor})
    </insert>

    <select id="selectAll" resultType="PostDTO">
        SELECT
            TP.ID,
            TP.MEMBER_ID,
            TP.POST_CONTENT,
            TP.POST_COLOR,
            TM.MEMBER_NICKNAME,
            TM.MEMBER_EMAIL,
            MAX(CASE WHEN TF.ROW_NUM = 1 THEN TF.POST_FILE_PATH END) AS IMAGE_PATH1,
            MAX(CASE WHEN TF.ROW_NUM = 1 THEN TF.POST_FILE_NAME END) AS IMAGE_NAME1,
            MAX(CASE WHEN TF.ROW_NUM = 2 THEN TF.POST_FILE_PATH END) AS IMAGE_PATH2,
            MAX(CASE WHEN TF.ROW_NUM = 2 THEN TF.POST_FILE_NAME END) AS IMAGE_NAME2,
            MAX(CASE WHEN TF.ROW_NUM = 3 THEN TF.POST_FILE_PATH END) AS IMAGE_PATH3,
            MAX(CASE WHEN TF.ROW_NUM = 3 THEN TF.POST_FILE_NAME END) AS IMAGE_NAME3,
            MAX(CASE WHEN TF.ROW_NUM = 4 THEN TF.POST_FILE_PATH END) AS IMAGE_PATH4,
            MAX(CASE WHEN TF.ROW_NUM = 4 THEN TF.POST_FILE_PATH END) AS IMAGE_NAME4,
            MAX(CASE WHEN TF.ROW_NUM = 5 THEN TF.POST_FILE_NAME END) AS IMAGE_PATH5,
            MAX(CASE WHEN TF.ROW_NUM = 5 THEN TF.POST_FILE_NAME END) AS IMAGE_NAME5
        FROM
            TBL_POST TP
                LEFT JOIN (
                SELECT
                    POST_ID,
                    POST_FILE_PATH,
                    POST_FILE_NAME,
                    ROW_NUMBER() OVER (PARTITION BY POST_ID ORDER BY ID) AS ROW_NUM
                FROM TBL_POST_FILE
            ) TF
                          ON TP.ID = TF.POST_ID
                JOIN TBL_MEMBER TM
                     ON TP.MEMBER_ID = TM.ID
        GROUP BY
            TP.ID, TP.MEMBER_ID, TP.POST_CONTENT, TP.POST_COLOR, TM.MEMBER_NICKNAME, TM.MEMBER_EMAIL
        ORDER BY TP.ID
    </select>

    <select id="selectAllPopular">
        SELECT
        TP.ID,
        TP.MEMBER_ID,
        TP.POST_CONTENT,
        TP.POST_COLOR,
        TM.MEMBER_NICKNAME,
        TM.MEMBER_EMAIL,
        COUNT(TCL.ID) AS POST_LIKE_COUNT,
        MAX(CASE WHEN TF.ROW_NUM = 1 THEN TF.POST_FILE_PATH END) AS IMAGE_PATH1,
        MAX(CASE WHEN TF.ROW_NUM = 1 THEN TF.POST_FILE_NAME END) AS IMAGE_NAME1,
        MAX(CASE WHEN TF.ROW_NUM = 2 THEN TF.POST_FILE_PATH END) AS IMAGE_PATH2,
        MAX(CASE WHEN TF.ROW_NUM = 2 THEN TF.POST_FILE_NAME END) AS IMAGE_NAME2,
        MAX(CASE WHEN TF.ROW_NUM = 3 THEN TF.POST_FILE_PATH END) AS IMAGE_PATH3,
        MAX(CASE WHEN TF.ROW_NUM = 3 THEN TF.POST_FILE_NAME END) AS IMAGE_NAME3,
        MAX(CASE WHEN TF.ROW_NUM = 4 THEN TF.POST_FILE_PATH END) AS IMAGE_PATH4,
        MAX(CASE WHEN TF.ROW_NUM = 4 THEN TF.POST_FILE_NAME END) AS IMAGE_NAME4,
        MAX(CASE WHEN TF.ROW_NUM = 5 THEN TF.POST_FILE_PATH END) AS IMAGE_PATH5,
        MAX(CASE WHEN TF.ROW_NUM = 5 THEN TF.POST_FILE_NAME END) AS IMAGE_NAME5
        FROM
        TBL_POST TP
        LEFT JOIN (
            SELECT
            POST_ID,
            POST_FILE_PATH,
            POST_FILE_NAME,
            ROW_NUMBER() OVER (PARTITION BY POST_ID ORDER BY ID) AS ROW_NUM
            FROM TBL_POST_FILE
        ) TF
        ON TP.ID = TF.POST_ID
        LEFT JOIN TBL_MEMBER TM
        ON TP.MEMBER_ID = TM.ID
        LEFT JOIN TBL_COMM_LIKES TCL
        ON TP.ID = TCL.POST_ID
        GROUP BY TP.ID, TP.MEMBER_ID, TP.POST_CONTENT, TP.POST_COLOR, TM.MEMBER_NICKNAME, TM.MEMBER_EMAIL
        ORDER BY POST_LIKE_COUNT DESC
    </select>
    
    
    <select id="select" parameterType="Long" resultType="PostDTO">
        SELECT TP.ID, TP.POST_CONTENT, TP.POST_IMAGE1, TP.POST_IMAGE2, TP.POST_IMAGE3, TP.POST_IMAGE4, TP.POST_IMAGE5, TP.POST_COLOR, TP.MEMBER_ID, TM.MEMBER_NAME, TM.MEMBER_EMAIL
        FROM TBL_POST TP
                 JOIN TBL_MEMBER TM
                      ON TP.MEMBER_ID = TM.ID AND TP.ID = #{id}
    </select>

    <update id="update" parameterType="PostVO">
        UPDATE TBL_POST
        SET POST_CONTENT = #{postContent}, POST_IMAGE1 = #{postImage1}, POST_IMAGE2 = #{postImage2}, POST_IMAGE3 = #{postImage3}, POST_IMAGE4 = #{postImage4}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_POST
        WHERE ID = #{id}
    </delete>


    <delete id="deleteAll" parameterType="Long">
        DELETE
        FROM TBL_POST
        WHERE MEMBER_ID = #{memberId}
    </delete>

</mapper>