<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.springpowpow.mapper.PostMapper">
    <insert id="insert" parameterType="PostVO">
        INSERT INTO TBL_POST(ID, MEMBER_ID, POST_CONTENT, POST_TITLE, POST_CREATE_AT, POST_MODIFIED_AT, POST_IMAGE1, POST_IMAGE2, POST_IMAGE3, POST_IMAGE4, POST_IMAGE5, POST_COLOR )
        VALUES (SEQ_NOTICE.NEXTVAL, #{memberId}, #{postContent}, #{postTitle}, #{postCreateAt}, #{postModifiedAt}, #{postImage1}#{postImage2} #{postImage3} #{postImage4} #{postImage5} #{postColor})
    </insert>

    

</mapper>